{##
 # This file is part of ExBootstrapBundle.
 #
 # (c) 2013 by Jacek Jędrzejewski
 #}

{% block captcha_widget %}
    {% set attr = attr|merge({ class: attr.class|default('') }) %}
    {% if is_human %}

    {% else %}
        {% spaceless %}
            <div class="input-group captcha_widget{% if 'input-lg' in attr.class %} input-group-lg{% endif %}">
                {{ form_widget(form) }}
                <span class="input-group-btn">
                    <img id="{{ image_id }}" src="{{ captcha_code }}" alt="" title="captcha" width="{{ captcha_width }}" height="{{ captcha_height }}" />
                    {% if reload %}
                        <button class="captcha_reload btn btn-default"><span class="glyphicon glyphicon-refresh"></span></button>
                    {% endif %}
                </span>
            </div>
        {% endspaceless %}
    {% endif %}
{% endblock %}
